<ion-content>
  <div #map id="map" style="height: 75%">


    <ion-icon *ngIf="calledFrom" color="primary" name="arrow-round-back" class="ion-style" (click)="goBack()"></ion-icon>
    <button *ngIf="!calledFrom" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

     <ion-fab justify-content-center align-items-center top center (click)="search()" class="search_box mgleft-ng16">

        <span>
          <ion-icon name="md-search"></ion-icon> Search
        </span>


          <h6 *ngIf="userAddr">{{userAddr}}</h6>

    </ion-fab>

    <ion-fab right top >
      <button ion-fab (click)="getMyLocation()">
        <ion-icon name="locate"></ion-icon>
      </button>
      <!-- <button ion-fab (click)="search()" style="background: #fff; border-radius: 45px; width: 100%;">
           <ion-icon name="md-search"></ion-icon>
         </button> -->
     </ion-fab>

     <ion-fab center middle class="mgleft-ng16">
       <img src="assets/imgs/marker_pin.png" item-center height="50px">
     </ion-fab>

   </div>



   <div class="sliderncatry">
     <p>Select vehicle for service</p>
     <!-- sliders rides -->
    <ion-row class="slidertop" justify-content-center align-items-center *ngIf="rides.length > 0">
      <ion-col col-10>
          <span class="silerleft" > <ion-icon *ngIf="currentIndex > 0"  (click)="previousSlide()" name="arrow-back"></ion-icon></span>
          <ion-slides  class="silercenter" (ionSlideDidChange)="onSlideChanged()">
            <ion-slide *ngFor="let slide of rides; let i = index">
              <h5 class="veh_name">{{slide.manufacturer}} {{slide.model}} {{slide.modelcode}}</h5>
              <!-- Add Pagination -->


            </ion-slide>
          </ion-slides>
          <span class="silerleft" ><ion-icon *ngIf="currentIndex < (rides.length-1)" class=" silerleft" (click)="nextSlide()" name="arrow-forward"></ion-icon></span>

      </ion-col>

      <ion-col col-2>

          <ion-icon (click)="addNewRide()" slot="icon-only" name="md-add-circle" class="addride"></ion-icon>

      </ion-col>
    </ion-row>
    <!-- add new rider -->
    <div class="center" *ngIf="rides.length == 0">
      <button ion-button (click)="addNewRide()">
        <ion-icon slot="icon-only" name="md-add-circle"></ion-icon>
      </button>
      <ion-label style="color: #000000;">Add a vehicle</ion-label>
    </div>
    <!-- add new rider -->

    <!-- Categories  -->
    <ion-row>
      <ion-item no-lines>
        <div class="category_container">
          <span *ngFor="let item of list">
            <img src="{{item.imgurl}}" (error)="changeImage(item)" class="scroll-item"
              (click)="showServices(item.category)" />
          </span>
          <div>
            <label class="scroll-item" *ngFor="let item of list"> {{item.category}} </label>
          </div>
        </div>
      </ion-item>
    </ion-row>
    <!-- Categories  -->
    <div *ngIf="showMap">
      <ion-row class="mgtop-10">
        <ion-col>
          <button ion-button col color="primary" class="fs-12" block (click)="next()">
              {{ 'MAP_PAGE.BUTTONS.btn_continue' | translate }}
          </button>
        </ion-col>
        <ion-col col-2>
            <!-- <ion-item text-right style="width: 60%; float: right;">
                <ion-datetime text-right class="no_margin no_padding" text-start item-start item-left displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY"
                  [min]="minDate" [(ngModel)]="dateOfevent" (ngModelChange)="delDateChange()" color="primary">
                </ion-datetime>
                <ion-label color="primary">
                  <ion-icon name="create" item-end large color="primary"></ion-icon>
                </ion-label>
              </ion-item> -->
            <button ion-button icon-only (click)="openDatePicker()">
              <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="!showMap">
      <p class="warning fs-15">Sorry! currently we are not serving in selected location</p>
    </div>
  </div>
</ion-content>
