<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="{{userAddr}}">
    </ion-searchbar>
    <!--<h6 *ngIf="userAddr">{{userAddr}}</h6>-->


    <ion-buttons end>
      <button ion-fab mini (click)="getMyLocation()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>


  <ion-fab justify-content-center align-items-center center top style="  left: 25%;    width: 65%;">
    <ion-list [hidden]="autocompleteItems.length == 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>
  </ion-fab>





  <!-- <div class="wrapper"> -->
  <div #map id="map" style="height: 100%">
    <div class="market_pin">
      <img src="assets/imgs/marker_pin.png" item-center>
    </div>
  </div>
  <!-- </div> -->
</ion-content>

<ion-footer>
  <div style="padding: 5px">
    <!-- <div>
      <h1 color="black">Out of service area</h1>
      <h2 class="warning">Service not available in this area </h2>
      <button class="btn-lg mgtop-20 button button-md button-block-md" ion-button color="primary" block
        (click)="goToServiceArea()">
        GO TO SERVICE AREA
      </button>
    </div> -->
    <div *ngIf="showMap">
      <ion-row *ngIf="rides.length > 0">
        <ion-col col-10>
          <div>

            
            <div>
                <span class="silerleft">
                    <ion-icon *ngIf="currentIndex > 0" (click)="previousSlide()" name="arrow-back"></ion-icon>
                  </span>
              <ion-slides class="silercenter" (ionSlideDidChange)="onSlideChanged()">
                <ion-slide *ngFor="let slide of rides; let i = index">
                  <h5 class="veh_name">{{slide.manufacturer}} {{slide.model}} {{slide.modelcode}}</h5>


                </ion-slide>

              </ion-slides>
              <span class="silerleft">
                  <ion-icon *ngIf="currentIndex < (rides.length-1)" class=" silerleft" (click)="nextSlide()"
                    name="arrow-forward"></ion-icon>
                </span>
            </div>

           
          </div>

        </ion-col>

        <ion-col col-2 align-items-center>
          <button ion-button icon-only (click)="addNewRide()">
            <ion-icon  name="md-add-circle"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <div class="center" *ngIf="rides.length == 0">
        <span (click)="addNewRide()">
          <ion-icon slot="icon-only" name="md-add-circle" class="addride"></ion-icon>
        </span>
        <ion-label style="color: #000000;">Add a vehicle</ion-label>
      </div>

      <ion-row>
        <ion-item no-lines>
          <div class="category_container">
            <span *ngFor="let item of list">
              <img src="{{item.imgurl}}" (error)="changeImage(item)" class="scroll-item"
                (click)="showServices(item.category)" />
            </span>
            <div>
              <label class="scroll-item" *ngFor="let item of list"> {{item.category}} </label>
            </div>
          </div>
        </ion-item>
      </ion-row>
      <div *ngIf="showCalender">
        <ion-item>
          <ion-label>Date <small>dd/mm/yyyy</small></ion-label>
          <ion-datetime [min]="minDate" displayFormat="DD/MM/YYYY" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Time</ion-label>
          <ion-datetime displayFormat="h:mm a" pickerFormat="h:mm:A" [(ngModel)]="myTime"></ion-datetime>
        </ion-item>
      </div>


      <ion-row>
        <ion-col>
          <button ion-button col color="primary" class="fs-12" block (click)="next()">
            {{ 'MAP_PAGE.BUTTONS.btn_continue' | translate }}
          </button>
        </ion-col>
        <ion-col col-2>
          <button class="bt_calender" ion-button icon-only (click)="openDatePicker()">
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="!showMap">
      <h1 color="black">Out of service area</h1>
      <h2 class="warning">Service not available in this area </h2>
      <button class="btn-lg mgtop-20 button button-md button-block-md" ion-button color="primary" block
        (click)="goToServiceArea()">
        GO TO SERVICE AREA
      </button>
    </div>
  </div>


</ion-footer>