page-trackorder {
  
  .ion-style {
    margin: 15px 20px;
    font-size: 25px;
    font-weight: bold;
  }
  #map {
    width: 100%;
    height: 100%;
  }
  .mgleft-ng16 {
    margin-left: -16px !important;
  }
}
