page-addupdaterides {

    .col{
        padding: 20px !important;
    }
  .pd-20 {
    border-radius: 60px;margin: 5px;border: 2px solid #ddd;
  }
}
h4 .red{background: red}
h4 .gray{background: gray}
h4 .white{background: white}
h4 .black{background: black}
h4 .brown{background: brown}
h4 .bisque{background: bisque}
h4 .chocolate{background: chocolate}
h4 .yellow{background: yellow}
h4 .orange{background: orange}
h4 .green{background: green}
h4 .palevioletred{background: palevioletred}
h4 .steelblue{background: steelblue}
h4 .teal{background: teal}
h4 .slategray{background: slategray}
h4 .blue{background: blue}
