page-products {
  .list_container{border-bottom: 1px solid #ccc; display:block;
    .list_img {
      width: 20%;
      display: inline-block;
    }
    .list_decs {
      width: 59%;
      display: inline-block;
      h2{font-size: 15px; margin: 0;}
      p{
        margin:5px 0 0 0;font-size: 13px;

        color: #808080;}
    }
    .list_chkbtn {
      width: 13%;
      display: inline-block;padding: 0;
      .item.item-md .checkbox-md{margin: 0;}
    }
  }
  .contibtn{padding: 0;}
}
