page-products {
  .list_container{border-bottom: 1px solid #ccc;
    .list_img {
      width: 15%;
      float: left;
      margin-right:8px;
    }
    .list_decs {
      width:70%;
      float: left;
      h2{font-size: 15px; margin: 0;}
      p{
        margin:5px 0 0 0;font-size: 13px;

        color: #808080;}
    }
    .list_chkbtn {
      width: 11%;
      float: left;
      .item.item-md .checkbox-md{margin: 0;}
    }
  }
  .contibtn{padding: 0;}
}
