<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="closeModal()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{pageDetails | capitalize}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngFor="let data of productList">
    <ion-row class="list_container" (click)="add(data)">
      <ion-col style="display: inline-block;float: left;">
        <div class="list_img ">
          <ion-avatar slot="start">
            <img src="{{data.imgurl}}" (error)="changeImage(data)" />
          </ion-avatar>
        </div>

        <div class="list_decs ">
          <h2>{{data.pname}}</h2>
          <p>{{data.pcost}} AED</p>
          <p *ngIf="data.ptype" style="color: coral">{{data.ptype}}</p>
        </div>

        <div class="list_chkbtn ">

          <ion-item class="schedule_radiobtn">
            <ion-checkbox (ionChange)="onChange(data)" [(ngModel)]="data.ischecked" value="data.ischecked"></ion-checkbox>
          </ion-item>

        </div>

      </ion-col>

    </ion-row>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row justify-content-between>
      <ion-col col align-self-center class="left">
        <strong class="">Total :
          {{totalamt}} AED
        </strong>
      </ion-col>
      <ion-col col-4 class="right">
        <button  ion-button block (click)="continue()"  >Continue
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
